<html>
    <head>
        <link href="/assets/pleiades.css" rel="stylesheet" />
    </head>
    <h1>Yay</h1>
    <p>Test {{text}} Test</p>
    <i class="icon ion-home"></i>
    <ul>
    {{#each array}}
        <li>{{this.data}}</li>
    {{/each}}
    </ul>
</html>
